.idea/
js/node_modules/
js/pirsch.min.js
js/pirsch-events.min.js
geodb/GeoLite2-Country.mmdb
demos/frontend/pirsch.js

tmp
.vscode
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.env
tracking